/* Основний контейнер, що містить елементи */
.Container {
	display: flex;
	align-items: center;
	font-family: arial;
	font-size: 24px;
	background-image: url('../../img/BgErrorPage.jpg');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

/* Блок контейнера для центрування вмісту */
.ContainerBlock {
	padding: 0px 10px;
	width: 500px;
	height: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Текст всередині блоку контейнера */
.ContainerBlockText {
	margin-top: 2px;
	color: white;
}

/* Кнопка для повернення назад */
.GoBack {
	margin-top: 30px;
	border: rgb(34, 40, 49) 3px solid;
	color: white;
	border-image: linear-gradient(
		90deg,
		rgba(34, 40, 49, 1) 0%,
		rgba(57, 62, 70, 1) 25%,
		rgba(0, 0, 0, 1) 55%,
		rgba(0, 173, 181, 1) 100%
	);
	border-width: 4px;
	border-style: solid;
}
